@using Logitar.Resolutions.Models.Components
@model ProgressBar

@{
  List<string> classes = new(capacity: 0);
  classes.Add("progress-bar");
  if (Model.IsAnimated)
  {
    classes.Add("progress-bar-animated");
  }
  if (Model.IsStriped){
    classes.Add("progress-bar-striped");
  }
  if (Model.Variant.HasValue){
    classes.Add($"text-bg-{Model.Variant.Value.ToString().ToLowerInvariant()}");
  }
  string className = string.Join(' ', classes);

  string width = $"{Model.Value}%";
}

<div class="mb-3 progress"
     role="progressbar"
     aria-label="@(Model.AriaLabel)"
     aria-valuenow="@(Model.Value)"
     aria-valuemin="@(Model.Minimum)"
     aria-valuemax="@(Model.Maximum)">
  <div class="@(className)" style="width: @(width)">@(Model.Label)</div>
</div>
